NODE_ENV=development
PORT=5000
CORS_ORIGINS=http://localhost:3000,http://localhost:5173,http://localhost:3001
DATABASE_URL="postgresql://postgres:7412365809@localhost:5433/basic_ecommerce_extended_pos?schema=public"

COOKIE_DOMAIN=localhost

CLOUDINARY_CLOUD_NAME=diskyz3tl
CLOUDINARY_API_KEY=352491421591435
CLOUDINARY_API_SECRET=f8l8sItVWB6wpNkQVw3V4pD8C28
UPLOADS_PARENT_FOLDER=sp-files

JWT_ACCESS_SECRET='W4oztCteS1MHupaxalSJgXFe7xMlhpJWJ+pWk8G61UU='
JWT_REFRESH_SECRET='CHozpInb/taCtpD1tz+XQcXyW1NTqCOLqMgttIrJKyI='
JWT_ACCESS_EXPIRES=10h
JWT_REFRESH_EXPIRES=3d

# Redis / BullMQ Configuration (Self-Hosted)
# REDIS_HOST=redis
# REDIS_PORT=6379
# REDIS_PASSWORD=

REDIS_HOST=127.0.0.1
REDIS_PORT=6379

MAIL_HOST=mail.yesglobaltech.com
MAIL_USER=info@yesglobaltech.com
MAIL_PASS='theglob@lt98$#'
MAIL_FROM=Arwa

# MAIL_HOST=smtp.gmail.com
# MAIL_USER=r.ayonrahman77@gmail.com
# MAIL_PASS=exkzcbzmutrqtipa
# MAIL_FROM=r.ayonrahman77@gmail.com

COMPANY_NAME=Arwa
COMPANY_WEBSITE=www.arwa.com


# ----for redis start----
# sudo service redis-server start
# redis-cli ping